version: 2.1

jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
  Validate DoD:
    docker:
      - image: cimg/python:3.11
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install deps
          command: pip install -r ./ci/requirements.txt
      - run:
          name: Run DoD validation
          command: |
            echo "export VALIDATION_RESULT=$(python ./ci/dod.py)" >> $BASH_ENV
      - run: |
          printenv VALIDATION_RESULT
      - run: |
          cp $BASH_ENV bash.env
          # when: always
      - persist_to_workspace:
          root: .
          paths:
            - bash.env
  Echo Env Variable:
    docker: 
      - image: cimg/node:17.2.0
    steps:
      - run: |
          printenv BASH_ENV
  

workflows:
  conditional-approval-workflow:
    jobs:
      - Approve validation of DoD:
          type: approval
      - Validate DoD:
          requires:
            - Approve validation of DoD
      - Echo Env Variable:
          requires:
            - Validate DoD
      - Approve failed validation of DoD:
          type: approval
          requires:
            - Echo Env Variable
