version: 2.1

setup: true
orbs:
  continuation: circleci/continuation@1.0.0
  
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
  Validate DoD:
    docker:
      - image: cimg/python:3.11
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install deps
          command: pip install -r ./ci/requirements.txt
      - run:
          name: Run DoD validation
          command: python ./ci/dod.py
      # - run: |
      #     printenv VALIDATION_RESULT
      # - run: |
      #     cp $BASH_ENV bash.env
      #     # when: always
      # - persist_to_workspace:
      #     root: .
      #     paths:
      #       - bash.env
  Echo Env Variable:
    docker: 
      - image: cimg/node:17.2.0
    steps:
      - attach_workspace:
          at: .
      - run: |
          cat bash.env > $BASH_ENV
      - run: |
          printenv VALIDATION_RESULT
  

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  conditional-approval-workflow:
    jobs:
      - say-hello:
          name: JOBS ANTES DE PROD
      - Validate DoD:
          requires:
            - say-hello
      # - Echo Env Variable:
      #     requires:
      #       - Validate DoD
      # - Approve failed validation of DoD:
      #     type: approval
      #     requires:
      #       - Echo Env Variable
      - continuation/continue:
          name: continue automatico
          configuration_path: .circleci/continue_config.yml
          parameters: '{"p_console":"JONATHAN"}'
          requires:
            - Validate DoD
      - Approve DoD MANUAL:
          type: approval
          requires:
            - say-hello
      - continuation/continue:
          name: continue manual
          configuration_path: .circleci/continue_config.yml
          parameters: '{"p_console":"JONATHAN"}'
          requires:
            - Approve DoD MANUAL
